.hero {
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-top: -100px;
}

.hero-intro {
  font-size: 2rem;
  color: #00aaff;
  text-align: left;
}

.hero-name {
  font-size: 7rem;
  margin: -1.5rem 0;
}

.hero-tagline {
  font-size: 1.5rem;
  color: #ccc;
  text-align: left;
}

.social-icons {
  margin-top: 1.5rem;
  text-align: left;
}

.social-icons a {
  display: inline-block;
  margin-right: 1rem;
  width: 40px;
  height: 40px;
}

.social-icons img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

/* 響應式設計 */
@media (min-width: 768px) and (max-width: 1024px) {

  .hero-intro {
    font-size: 5vw;
  }

  .hero-name {
    font-size: 12vw;
  }

  .hero-tagline {
    font-size: 4vw;
  }

  .social-icons img {
    width: 5vw;
  }
}

@media (max-width: 768px) {

  .hero-content {
    margin-top: -200px;
  }

  .hero-intro {
    font-size: 5vw;
  }

  .hero-name {
    font-size: 15vw;
  }

  .hero-tagline {
    font-size: 4vw;
  }

  .social-icons img {
    width: 11vw;
  }
}