/* 整體容器樣式 */
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #201d1d;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* 滑動區域 */
.projects-slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100vh - 150px);
    scroll-snap-type: x mandatory;
    padding: 10% 0;
}

/* 單個專案卡片 */
.project-card {
    flex: 0 0 calc(92% / 5);
    height: 100%;
    background: #343a40;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* 圖片樣式 */
.project-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #000000;
}

/* 專案內容 */
.project-content {
    padding: 10px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2c2f33;
    height: 100%;
}

.project-title {
    font-size: 1.2rem;
    color: #f8f9fa;
    margin-bottom: 10px;
}

.project-title a {
    color: #ffffff;
    text-decoration: none;
}

.project-title a:hover {
    text-decoration: underline;
}

.project-description {
    height: 120px;
    padding: 0 20px;
    white-space: pre-line;
    line-height: 1.6;
    text-align: left;
    font-size: 1rem;
    line-height: 1.3;
    color: #a1a1a1;
    min-height: 150px;
}

.project-tags {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project-tags span {
    display: inline-block;
    background: linear-gradient(145deg, #5e534e, #4c413c);
    color: #ffffff;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 20px;
    font-size: 0.8rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.1);
}

.project-tags span:hover {
    background: linear-gradient(145deg, #878d8c, #7ab2a4);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    color: #ffffff;
}

/* 響應式設計 */
@media (max-width: 768px) {
    .projects-container {
        height: auto;
        padding: 10px 0;
    }

    .projects-slider {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        scroll-snap-type: x mandatory;
    }

    .project-card {
        flex: 0 0 80%;
        margin: 0 10%;
        scroll-snap-align: center;
        transform: scale(0.9);
        height: 90%;
    }

    .project-description {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .projects-container {
        height: auto;
        padding: 40px 0;
    }

    .projects-slider {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        scroll-snap-type: x mandatory;
        padding: 0 10px;
    }

    .project-card {
        flex: 0 0 70%;
        margin: 0 15%;
        scroll-snap-align: center;
        transform: scale(0.95);
        height: 90%;
    }

    .project-image {
        height: 300px;
    }

    .project-content {
        padding: 15px;
    }

    .project-title {
        font-size: 3rem;
    }

    .project-description {
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 40%;
    }

    .project-tags span {
        font-size: 1.2rem;
        margin-bottom: 10%;
    }
}