/* 整體容器樣式 */
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* 滑動區域 */
.projects-slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    height: calc(100vh - 150px);
    scroll-snap-type: x mandatory;
    padding: 10% 0;
}

/* 單個專案卡片 */
.project-card {
    flex: 0 0 calc(92% / 5);
    height: 100%;
    background: #2d3748;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid #4a5568;
    box-sizing: border-box;
}

/* 圖片樣式 */
.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* 專案內容 */
.project-content {
    padding: 10px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.project-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1rem;
    min-height: 150px;
}

.project-tags {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 20px;
}

.project-tags span {
    display: inline-block;
    background: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
}